/*
This is a file for global css, if needed for your app.
*/

html, body {
  overflow-x: hidden;
}

input, select, textarea, button {
  font-family:inherit;
}

.text-green {
  color: rgb(96, 116, 37);
}

.background-green {
  background-color: rgb(96, 116, 37);
}

#content {
  min-height: 60vh;
  width: 70vw;
  margin-left: 15vw;
  margin-top: 2rem;
  font-size: 1.15rem;
}

h1 {
  text-align: center;
}

/* For when login is not available */
.alert-danger, .Navbar-nav li a.alert-danger {
  color: #b30000;
  cursor: text;
}

@media (max-width: 769px) {
  #content {
    min-height: 60vh;
    width: 98vw;
    margin-left: 1vw;
    margin-top: 1rem;
    font-size: 1.15em;
  }
}
