#authenticated-landing > ul > li {
  display: flex;
}

#authenticated-landing > ul > li .puck-container, .step-content {
  display: inline-block;
}

#authenticated-landing > ul > li .puck-container {
  padding: 0 1em;
}

.step-content {
  width: 100%;
  margin-right: 3em;
}

@media (max-width: 700px) {
  #authenticated-landing > ul > li {
    display: block;
  }

  #authenticated-landing > ul > li .puck-container {
    width: 100%;
    padding: 0 0 1em 0;
    text-align: center;
  }
}
