.category-item {
  display: flex;
  // justify-content: center;
}

.tags-list {
  padding: 1rem 0;
}

.tag-item {
  padding: 0 0 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.15rem;

  label {
    font-size: inherit;
  }

  input[type="checkbox"]{
    margin: 0 1rem 0 0;
  }

  select {
    height: 1.5em;
    font-size: inherit;
    background-color: white;
    width: 100%;
  }

  .inline-selectors {
    padding: 0 2rem 0 0;
    flex: 1;
  }
}


@media (max-width: 769px) {
  .tag-item {
    display: block;
    font-size: 1.15rem;
  }
}
