.category-item {
  display: flex;
  // justify-content: center;
}

.tags-list {
  padding: 1em;
}

.tag-item {
  padding: 0.5em 0;
  display: flex;
  justify-content: space-between;
  font-size: 1.15rem;

  label {
    font-size: inherit;
  }

  input[type="checkbox"]{
    margin: 0 1rem 0 0;
  }

  select {
    height: 1.25em;
    font-size: inherit;
  }

  .inline-selectors {
    padding: 0 2rem 0 0;
  }
}
