.SelectLocation-container {
  display: flex;
}

.SelectLocation-label {
  padding: 0.25em 0;
  margin-right: 1em;
}

.SelectLocation-container input, .SelectLocation-container button {
  border-radius: 6px;
}

.SelectLocation-input {
  padding: 0.15em;
  align-content: stretch;
  flex-grow: 1;
  font-size: inherit;
}

.leaflet-container {
  height: 250px;
  margin: 0 auto;
  margin: 2em 0;
  text-align: center;
}

.footer {
  z-index: 1000;
}
