form {
  display: flex;
}

input {
  overflow: auto;
}

form input, form button {
  border-radius: 6px;
  padding: 0.25em;
}

.label-input-assembly {
  display: flex;
  flex-grow: 1;
  vertical-align: middle;
}

.SelectLocation-label {
  padding: 0.25em 0.5em 0.25em 0;
}

.SelectLocation-input {
  align-content: stretch;
  flex-grow: 1;
}

.address-message {
  padding: 1em 0;
}

.address-message button {
  display: block;
  font-size: inherit;
  padding: 0.25em;
  margin: 0.25em 0;
  background-color: inherit;
  border-radius: 6px;
  cursor: pointer;
}

.address-message button:hover, .address-message button:focus {
  background-color: white;
}

.leaflet-container {
  height: 250px;
  margin: 0 auto;
  margin: 2em 0;
  text-align: center;
}

.footer {
  z-index: 1000;
}

@media (max-width: 700px) {
  form {
    display: unset;
  }
  form .form-element {
    width: 100%;
    margin: 0.5em 0;
  }
  .form-element.submit-button {
    text-align: center;
  }
}
