.signup {
  /* margin: 2em 5vw; */
}

.signup .form-section {
  padding: 2em 0;
  border-top: 1px solid #e6e6e6;
}

.form-section label, .form-section input {
  margin: 0 1em;
  font-size: 1.5em;
}

.form-section input {
  min-width: 20em;
}

.form-section.centered {
  text-align: center;
}

button {
  font-size: 1.5em;
  color: white;
  border: 1px solid #607425;
  background-color: #607425;
  border-radius: 4px;
}

button:hover {
  background-color: #50601f;
  color: #f6fcff;
  cursor: pointer;
}

.form-section.email span {
  display: inline-block;
  width: 100%;
  font-size: 0.75em;
  padding: 1em 0 0;
}

.form-section.email a {
  color: #607425;
  text-decoration: underline;
}

.form-section.email a:hover {
  color: #50601f;
  cursor: pointer;
}
