button {
  font-size: 1.5em;
  color: white;
  border: 1px solid #607425;
  background-color: #607425;
  border-radius: 4px;
}

button:hover {
  background-color: #50601f;
  color: #f6fcff;
  cursor: pointer;
}

.centered {
  text-align: center;
}

.signup .form-section {
  padding: 2em 0;
  border-top: 1px solid #e6e6e6;
}

.form-section label {
  margin: 0em 0.5em;
}

.form-section input {
  min-width: 17.5em;
}

.tag-checkbox {
  display: inline-block;
  padding: 0 1em;
}

.form-section.email span {
  display: inline-block;
  width: 100%;
  font-size: 0.75em;
  padding: 1em 0 0;
}

.form-section.email a {
  color: #607425;
  text-decoration: underline;
}

.form-section.email a:hover {
  color: #50601f;
  cursor: pointer;
}

#email-input {
  font-size: 1.25em;
}
